<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>

  <body>
    <div
      style="
        font-family: Helvetica, Arial, sans-serif;
        min-width: 1000px;
        overflow: auto;
        line-height: 2;
        color: black;
      "
    >
      <div style="margin: 50px auto; width: 70%; padding: 20px 0">
        <div style="border-bottom: 1px solid #eee">
          <a
            href="#"
            style="
              font-size: 1.4em;
              color: #00466a;
              text-decoration: none;
              font-weight: 600;
            "
            >Item Tracker</a
          >
        </div>
        <p style="font-size: 1.1em">Hi {{name}},</p>
        <p>{{description}}</p>
        <p>Detail {{type}} Anda:</p>
        <div
          style="
            background: #f4f4f4;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            width: fit-content;
            margin: 20px 0;
          "
        >
          <p><strong>Nama:</strong> {{ itemName }}</p>
          <p><strong>Gambar:</strong></p>
          <div style="display: flex; gap: 20px; flex-wrap: wrap">
            {{#images}}
            <img
              src="{{.}}"
              alt="Gambar dari {{ itemName }}"
              style="max-width: 300px; height: auto; border-radius: 8px"
            />
            {{/images}}
          </div>
        </div>

        <p>
          Jika Anda memiliki pertanyaan atau membutuhkan bantuan, jangan ragu
          untuk menghubungi kami.
        </p>
        <p style="font-size: 0.9em">Regards,<br />Item Tracker</p>
        <hr style="border: none; border-top: 1px solid #eee" />
        <div
          style="
            float: right;
            padding: 8px 0;
            color: #aaa;
            font-size: 0.8em;
            line-height: 1;
            font-weight: 300;
          "
        >
          <p>Item Tracker</p>
        </div>
      </div>
    </div>
  </body>
</html>
